<launch>
    
    
    <group ns="motor_ctrl">
        <rosparam command="load" file="$(find motor_control)/config/motor_params.yaml" />
        <node name="smotor_control_node" pkg="motor_control" type="motor_control_node" output="screen"/>
        <node name="odom_pub_node" pkg="motor_control" type="odom_pub_node" output="screen"/>
    </group>
</launch>