<launch>
    <group ns="base_drive">
        <include file="$(find mcu_rec)/launch/mcu_connect.launch"/>
        <include file="$(find motor_serial)/launch/motor.launch"/>
        <include file="$(find robot_pose_ekf)/robot_pose_ekf.launch"/>
    </group>
    
    <include file="$(find sensor_tf_pub)/launch/sensor_tf_pub.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar_a3.launch"/>
</launch>